* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 15vh minmax(max-content, 85vh);
}

#header {
    background-color: darkblue;
    z-index: 2;
    box-shadow: 0px 15px 10px -15px #111; 
    grid-column: 1 / 4;
    text-align: center;
    align-items: center;

    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
}

#left-column, #right-column {
    background-color: whitesmoke;
}

#middle-column {
    z-index: 1;
    background-color: rgb(235, 246, 255);
    box-shadow: -15px 0px 25px -15px #111, 15px 0px 25px -15px #111;  
}

#popup-modal {
    color: white;
    padding: 15px;
    z-index: 10;
    position: fixed;
    left: 40vw;
    top: 30vh;
    width: 20vw;
    height: fit-content;
    min-width: max-content;
    background-color: darkblue;
    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#popup-form {
    display: grid;
    gap: 15px;
    text-align: center;
}


#shade {
    background-color: rgba(100,100,100,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
}


.btn {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.input {
    padding: 5px;
}

.checkbox-input {
    accent-color: blue;
}
