* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 15vh minmax(max-content, 85vh);
}

#header {
    background-color: darkblue;
    z-index: 2;
    box-shadow: 0px 15px 10px -15px #111; 
    grid-column: 1 / 4;
    text-align: center;
    align-items: center;

    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
}

#left-column, #right-column {
    background-color: whitesmoke;
}

#middle-column {
    z-index: 1;
    background-color: rgb(235, 246, 255);
    box-shadow: -15px 0px 25px -15px #111, 15px 0px 25px -15px #111; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 32px;
    padding: 32px;
}

#popup-modal {
    color: white;
    padding: 15px;
    z-index: 10;
    position: fixed;
    left: 40vw;
    top: 30vh;
    width: 20vw;
    height: fit-content;
    min-width: max-content;
    background-color: darkblue;
    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
}

#popup-form {
    display: grid;
    gap: 15px;
    text-align: center;
}


#shade {
    background-color: rgba(100,100,100,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
    display: none;
}


.book-tile {
    background-color: rgb(150, 82, 18);
    position: relative;
    padding: 7px;
    padding-top: 0;
    border-left: rgb(87, 39, 0) solid 10px;
    box-sizing: border-box;
    border-radius: 10px 20px 20px 10px;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.btn {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.input {
    padding: 5px;
}

.checkbox-input {
    accent-color: blue;
}

.book-title {
    background-color: wheat;
    width: 50%;
    padding: 15px;
    position: absolute;
    left: calc(25% - 15px);
    height: fit-content;
    word-wrap: normal;
    top: 14px;
    text-align: center;
    border-radius: 5px;
}

.book-pagenumber {
    background-color: wheat;
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.book-author {
    background-color: wheat;
    max-width: 50%;
    width: fit-content;
    height: fit-content;
    word-wrap: normal;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 15px;
    border-radius: 5px 10px 10px 5px;
}

.readed {
    width: 25px;
    word-wrap: break-word;
    border-radius: 0;
    border: 0;
    background-color: greenyellow;
    padding-top: 4px;
    font-weight: bold;
}

.notreaded {
    width: 25px;
    word-wrap: break-word;
    border-radius: 0;
    border: 0;
    background-color: red;
    color: white;
    padding-top: 4px;
    font-weight: bold;
    
}

.triangle {
    width: 25px;
    box-sizing: border-box;
    border: transparent solid 5px;
    border-top: 0;
    border-bottom: transparent 25px solid;
    border-left: 12.5px solid greenyellow;
    border-right: 12.5px solid greenyellow;
}


.triangle-notreaded {
    border-left: 12.5px solid red;
    border-right: 12.5px solid red;
}